body{
    font-family: Arial, Helvetica, sans-serif;
}

/* IMPORTANT!!! 
    GENERAL CLASS STYLE */
.ms_text-blue{
    color: rgba(19,124,209,255);
}

.ms_text-gray{
    color: rgba(115,115,115,255);
}

.ms_opacity-7{
    opacity: 0.7;
}

.ms_border-bt{
    border-bottom: 2.5px solid transparent;

    /* border-bottom: 2px solid rgba(175,210,239,255); */
}

.ms_btn{
    font-weight: 400;
    border-radius: 25px;
}
    
.ms_btn-buy-now{
    background-color: rgba(205,61,15,255);
    color: white;
}

.ms_btn-discover-more{
    background-color: rgba(45,100,230,255);
    color: white;
}

.ms_btn-plus{
    background-color: rgba(217,218,220,255);
    color: rgba(55,107,229,255);
}

.ms_btn-psnow{
    background-color: rgba(245,245,245,255);
    color: black;
}

.ms_centered{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.ms_p-top-bottom-25{
    padding: 25px 0 25px;
}

.ms_rounded-15{
    border-radius: 15px;
}

.ms_hundred-img{
    width: 100%;
}

.ms_sixty-img{
    width: 60%;
}

/* IMPORTANT!!! 
    HEADER-SECTION */

/* SONY-LOGO STYLE */
#ms_sony-logo{
    padding: 5px 10px;
    background-color: black;
}

#ms_sony-logo img{
    width: 75px;
    text-align: end;
}

/* PS-NAV STYLE */


/* IMPORTANT!!! 
    MAIN-SECTION */

/* JUMBOTRON STYLE */
#ms_jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 220px 0 80px 0;
}

/* JUMBOTRON-GAMES STYLE */
#ms_jumbotron-games .ms_jumbotron-game-image{
    padding: 1.5px;
    border-radius: 18px;
    border: 2px solid transparent;
}

#ms_jumbotron-games img{
    width: 100%;
    border-radius: 15px;
}

/* PS-LIST STYLE */
#ms_ps-list img{
    width: 100%;
}

/* HERO STYLE */
#ms_hero{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 60px 0 50px 0;
}
/* NEW-EXITS STYLE */
#ms_new-exits{
    background-color: rgba(31,31,31,255);
}
/* EXPLORE STYLE */
/* BANNER-PS-PLUS STYLE */
#ms_banner-ps-plus{
    background-color: rgba(190,188,187,255);
}
/* DISCOUNT STYLE */
#ms_discount{
}

/* BANNER-PS-NOW STYLE */
#ms_banner-ps-now{
    background-color: rgba(22,28,59,255);
}
/* SOCIAL MEDIA SECTION */
#ms_social-media-section{
}

/* IMPORTANT!!! 
    FOOTER-SECTION */
#ms_footer-container{
    background-color: rgba(0,67,156,255);
    padding: 50px 0 50px;
}
/* LINKS STYLE */

#ms_links ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

#ms_links li>a{
    text-decoration: none;
    color: white;
}

/* CREDITS STYLE */
#ms_ps-credits img{
    width: 150px;
}

/* IMPORTANT!!! 
    HOVER EFFECTS */

    #ms_ps-list div.ms_opacity-7:hover{
        opacity: 1;
        border-bottom: 2px solid rgba(175,210,239,255);
        
    }

    #ms_jumbotron-games .ms_jumbotron-game-image:hover{
        border-color: rgba(63,148,218,255);
    }